.navbar {
    box-shadow: 0px -19px 52px 1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px -19px 52px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px -19px 52px 1px rgba(0, 0, 0, 0.75);
}
.banner {
    height: 500px;
    background-image: url("../images/hero.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}
.banner::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}
.banner__text{
    position: relative;
    max-width: 500px;
}